<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BoardListCon</display-name>
    <servlet-name>BoardListCon</servlet-name>
    <servlet-class>control.BoardListCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListCon</servlet-name>
    <url-pattern>/BoardListCon</url-pattern>
  </servlet-mapping>
  <display-name>JSP15</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardWriteProCon</display-name>
    <servlet-name>BoardWriteProCon</servlet-name>
    <servlet-class>control.BoardWriteProCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteProCon</servlet-name>
    <url-pattern>/BoardWriteProCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardInfoCon</display-name>
    <servlet-name>BoardInfoCon</servlet-name>
    <servlet-class>control.BoardInfoCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInfoCon</servlet-name>
    <url-pattern>/BoardInfoCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReWriteCon</display-name>
    <servlet-name>BoardReWriteCon</servlet-name>
    <servlet-class>control.BoardReWriteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReWriteCon</servlet-name>
    <url-pattern>/BoardReWriteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardReWriteProCon</display-name>
    <servlet-name>BoardReWriteProCon</servlet-name>
    <servlet-class>control.BoardReWriteProCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReWriteProCon</servlet-name>
    <url-pattern>/BoardReWriteProCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateCon</display-name>
    <servlet-name>BoardUpdateCon</servlet-name>
    <servlet-class>control.BoardUpdateCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateCon</servlet-name>
    <url-pattern>/BoardUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateProCon</display-name>
    <servlet-name>BoardUpdateProCon</servlet-name>
    <servlet-class>control.BoardUpdateProCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateProCon</servlet-name>
    <url-pattern>/BoardUpdateProCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteCon</display-name>
    <servlet-name>BoardDeleteCon</servlet-name>
    <servlet-class>control.BoardDeleteCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteCon</servlet-name>
    <url-pattern>/BoardDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteProCon</display-name>
    <servlet-name>BoardDeleteProCon</servlet-name>
    <servlet-class>control.BoardDeleteProCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteProCon</servlet-name>
    <url-pattern>/BoardDeleteProCon</url-pattern>
  </servlet-mapping>
</web-app>